{% extends 'base.html.twig' %}

{% block title %}Terms Of Use & Privacy{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="row">
                <div class="col-4">
                    <nav id="navbar-example3" class="sticky-top flex-column align-items-stretch pe-4 border-end">
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link" href="#item-1">Acceptance Of This Agreement</a>
                            <a class="nav-link" href="#item-2">Advice</a>
                            <a class="nav-link" href="#item-3">Links to Third-Party Websites</a>
                            <a class="nav-link" href="#item-4">Copyright</a>
                            <a class="nav-link" href="#item-5">Limitation Of Liability</a>
                            <a class="nav-link" href="#item-6">Indemnity</a>
                            <a class="nav-link" href="#item-7">Severability</a>
                            <a class="nav-link" href="#item-8">Headings</a>
                            <a class="nav-link" href="#item-9">Entire Agreement</a>
                            <a class="nav-link" href="#item-10">Company Privacy Policy</a>
                            <a class="nav-link" href="#item-11">Data Collected</a>
                            <a class="nav-link" href="#item-12">How will we use your data?</a>
                        </nav>
                    </nav>
                </div>

                <div class="col-8">
                    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                         class="scrollspy-example-2" tabindex="0">
                        <div id="item-1">
                            <h4>Acceptance Of This Agreement</h4>
                            <p>
                                Your access to and use of eventpoint.app ("the Website") is subject exclusively to these
                                Terms and Conditions. You will not use the Website for any purpose that is unlawful or
                                prohibited by these Terms and Conditions. By using the Website, you are fully accepting
                                the terms, conditions, and disclaimers contained in this notice. If you do not accept
                                these Terms and Conditions, you must immediately stop using the Website. (“Reviewal”) is
                                a trading entity under the trading name TCPX LLP.
                            </p>
                        </div>
                        <div id="item-2">
                            <h5>Advice</h5>
                            <p>
                                The contents of the Website do not constitute advice and should not be relied upon in
                                making or refraining from making any decision.
                                Changes to the Website, Software, and Services
                                Reviewal reserves the right to:
                                change or remove (temporarily or permanently) the Website or any part of it without
                                notice and you confirm that Reviewal shall not be liable to you for any such change or
                                removal.
                                change, remove, or discontinue any software, service, or promotion (including but not
                                limited to any provisions, parts thereof, licensing, pricing) as advertised on the
                                Website at any time without notice and you confirm that Reviewal shall not be liable for
                                any such change or removal.
                                change or discontinue any promotional discount vouchers or coupon codes at any time with
                                notice and you confirm that Reviewal shall not be liable for any such change or removal.
                                change this Agreement at any time, and your continued use of the Website following any
                                changes shall be deemed to be your acceptance of such change.
                            </p>
                        </div>
                        <div id="item-3">
                            <h5>Links to Third-Party Websites</h5>
                            <p>
                                The Website may include links to third-party websites that are controlled and maintained
                                by others. Any link to other websites is not an endorsement of such websites, and you
                                acknowledge and agree that we are not responsible for the content or availability of any
                                such sites.
                            </p>
                        </div>
                        <div id="item-4">
                            <h5>Copyright</h5>
                            <p>
                                The Intellectual Property Rights in the Website and the materials on or accessible via
                                it belong to Reviewal or its licensors.
                                The Website and the materials on or accessible via it and the Intellectual Property
                                Rights therein may not be copied, distributed, published, licensed, used, or reproduced
                                in any way (save to the extent strictly necessary for, and for the purposes of,
                                accessing and using the Website).
                                Reviewal and the Reviewal Logo are trademarks which belong to Reviewal, and they may not
                                be used, copied, or reproduced in any way without written consent from Reviewal.
                                For these purposes, "Intellectual Property Rights" includes the following (wherever and
                                whenever arising and for the full term of each of them): any patent, trademark, trade
                                name, service mark, service name, design, design right, copyright, database right, moral
                                rights, know-how, trade secret and other confidential information, rights in the nature
                                of any of these items in any country, rights in the nature of unfair competition rights
                                and rights to sue for passing off or other similar intellectual or commercial right (in
                                each case, whether or not registered or registrable) and registrations of and
                                applications to register any of them.
                            </p>
                        </div>
                        <div id="item-5">
                            <h5>Limitation Of Liability</h5>
                            <p>
                                The Website is provided on an "AS IS" and "AS AVAILABLE" basis without any
                                representation or endorsement made and without warranty of any kind, whether express or
                                implied, including but not limited to the implied warranties of satisfactory quality,
                                fitness for a particular purpose, non-infringement, compatibility, security, and
                                accuracy. To the extent permitted by law, Reviewal will not be liable for any indirect
                                or consequential loss or damage whatever (including without limitation loss of business,
                                opportunity, data, profits) arising out of or in connection with the use of the Website.
                                Reviewal makes no warranty that the functionality of the Website will be uninterrupted
                                or error free, that defects will be corrected or that the Website or the server that
                                makes it available are free of viruses or anything else which may be harmful or
                                destructive. Nothing in these Terms and Conditions shall be construed so as to exclude
                                or limit the liability of Reviewal for death or personal injury as a result of the
                                negligence of Reviewal or that of its employees or agents.
                            </p>
                        </div>
                        <div id="item-6">
                            <h5>Indemnity</h5>
                            <p>
                                You agree to indemnify and hold Reviewal and its employees and agents harmless from and
                                against all liabilities, legal fees, damages, losses, costs and other expenses in
                                relation to any claims or actions brought against Reviewal arising out of any breach by
                                you of these Terms and Conditions or other liabilities arising out of your use of the
                                Website.
                            </p>
                        </div>
                        <div id="item-7">
                            <h5>Severability</h5>
                            <p>
                                You agree to indemnify and hold Reviewal and its employees and agents harmless from and
                                against all liabilities, legal fees, damages, losses, costs and other expenses in
                                relation to any claims or actions brought against Reviewal arising out of any breach by
                                you of these Terms and Conditions or other liabilities arising out of your use of the
                                Website.
                                In the event that any provision of this Agreement is declared by any judicial or other
                                competent authority to be void, voidable, illegal or otherwise unenforceable or
                                indications of the same are received by either you or us from any relevant competent
                                authority, we shall amend that provision in such reasonable manner as achieves the
                                intention of the parties without illegality or, at our discretion, such provision may be
                                severed from this Agreement and the remaining provisions of this Agreement shall remain
                                in full force and effect.
                                Applicable Law and Dispute
                                This Agreement and all matters arising from it are governed by and construed in
                                accordance with the laws of the Czech Republic and whose courts shall have exclusive
                                jurisdiction over all disputes arising in connection with this Agreement and the place
                                of performance of this Agreement is agreed by you to be Prague, Czech Republic.
                            </p>
                        </div>
                        <div id="item-8">
                            <h5>Headings</h5>
                            <p>
                                Headings are included in this Agreement for convenience only and shall not affect the
                                construction or interpretation of this Agreement.
                            </p>
                        </div>
                        <div id="item-9">
                            <h5>Entire Agreement</h5>
                            <p>
                                These terms and conditions together with any documents expressly referred to in them,
                                contain the entire Agreement between us relating to the subject matter covered and
                                supersede any previous Agreements, arrangements, undertakings or proposals, written or
                                oral: between us in relation to such matters. No oral explanation or oral information
                                given by any party shall alter the interpretation of these Terms and Conditions. In
                                agreeing to these terms and conditions, you have not relied on any representation other
                                than those expressly stated in these terms and conditions and you agree that you shall
                                have no remedy in respect of any misrepresentation which has not been made expressly in
                                this Agreement.
                            </p>
                        </div>
                        <div id="item-10">
                            <h5>Company Privacy Policy</h5>
                            <p>
                                This privacy policy will explain how our organization uses the personal data we collect
                                from you when you use our website. What data do we collect? How do we collect your data?
                                How will we use your data? How do we store your data? What are your data protection
                                rights? What are cookies? How do we use cookies? What types of cookies do we use? How to
                                manage your cookies Privacy policies of other websites Changes to our privacy policy How
                                to contact us How to contact the appropriate authorities What data do we collect?
                            </p>
                        </div>
                        <div id="item-11">
                            <h5>Data Collected</h5>
                            <p>
                                Personal identification information Name, email address, phone number, images, basic
                                property information including but not limited to area, number of rooms, price and
                                address.
                                How do we collect your data?
                                You directly provide our company with most of the data we collect. We collect data and
                                process data when you: Register online or place an order for any of our products or
                                services. Voluntarily complete a form or provide feedback on any of our Use or view our
                                website via your browser's cookies. Our Company may also receive your data indirectly
                                from the following sources: Geolocation based on address of property
                            </p>
                        </div>
                        <div id="item-12">
                            <h5>How will we use your data?</h5>
                            <p>
                                Our Company, eventpoint.app, collects your data so that we can: Process your order, manage
                                your account. Email you with special offers on other products and services we think you
                                might like. If you agree, Our Company will share your data with our partner companies so
                                that they may offer you their products and services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
