<div class="d-flex justify-content-around align-items-center">
    <div>
        <a class="btn btn-light" href="{{ path('connect_facebook_start') }}">
            <i class="bi bi-facebook fs-4"></i>
        </a>
    </div>
    <div>
        <a class="btn btn-light" href="{{ path('connect_google_start') }}">
            <i class="bi bi-google fs-4"></i>
        </a>
    </div>
</div>
