<div class="flex w-full max-w-sm items-center rounded-lg border border-gray-200 bg-white p-4 shadow-sm" role="alert">
    <span class="bi bi-send-fill text-lg text-primary-600"></span>
    <div class="ms-3 text-sm text-gray-700">{{ message }}</div>
    <button type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-white text-gray-400 hover:bg-gray-100 hover:text-gray-900 focus:outline-none"
            data-dismiss-target="#toast-simple"
            aria-label="Close">
        <span class="sr-only">Close</span>
        {{ ux_icon('mdi:close', {class: 'h-5 w-5'}) }}
    </button>
</div>
