<div class="mb-3">
    {% if app.user %}
        <div class="row text-center g-0 justify-content-center align-items-center">

            <div class="col-4">
                <a href="{{ path('create_event') }}" class="btn btn-light rounded-0 w-100 text-center">
                    <div class="bi bi-calendar-plus-fill fs-4"></div>
                    <div>{{ 'create-event'|trans }}</div>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ path('create_event_group') }}" class="btn btn-light rounded-0 w-100 text-center">
                    <div class="bi bi-plus-circle-fill fs-4"></div>
                    <div>{{ 'create-group'|trans }}</div>
                </a>
            </div>

        </div>
    {% endif %}
</div>