<table align="center" class="container header float-center">
    <tbody>
    <tr>
        <td>
            <table class="row collapse">
                <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tr>
                                <th>
                                    <a href="https://eventpoint.app">
                                        <img height="50" width="50"
                                             src="{{ absolute_url(asset('images/logo-90-black-01.png')) }}" alt="">
                                    </a>
                                </th>
                                <th class="expander"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>