<table align="center" class="container header float-center">
    <tbody>
    <tr>
        <td>
            <table class="row collapse">
                <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tr>
                                <th>
                                    <div>{{ 'email-sign-off'|trans }}</div>
                                </th>
                                <th class="expander"></th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>