{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-6">
                {{ component('event_group_form_component') }}
            </div>
        </div>
    </div>
{% endblock %}