@import "bootstrap-icons";
@import "~@mdi/font";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~lightgallery/scss/lightgallery';
@import "_variables.scss";
@import "bootstrap/scss/bootstrap";
@import 'https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap';
@import 'mapbox-gl/src/css/mapbox-gl.css';




.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}


.vh-5{
  height: 5vh!important;
}


.vh-10{
  height: 10vh!important;
}

.w-10{
  width: 10vh!important;
}

.text-bg-dark-grey {
  color: #333 !important;
  background-color: rgba(0, 0, 0, 0.07) !important;
}

.text-dark-grey {
  color: rgba(73, 80, 87, 0.75) !important;
}


body {
  padding: 0;
  margin: 0;
}

.z-90001 {
  z-index: 90001 !important;
}

.b-and-w {
  filter: grayscale(100%);
}

.blur {
  filter: blur(var(--value, .2rem))
}

.min-vh-10 {
  min-height: 10vh;
}

.min-vh-25 {
  min-height: 25vh;
}

.min-vh-50 {
  min-height: 50vh;
}

.min-vh-60 {
  min-height: 60vh;
}

.min-vh-70 {
  min-height: 70vh;
}

.min-vh-80 {
  min-height: 80vh;
}

.min-vh-90 {
  min-height: 90vh;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

.dark_theme body {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.fixed-map-wrapper {
  position: fixed;
  height: 100%;
  width: 50vh;
  z-index: 9000;
}

.fixed-map {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.read-more-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 10);
}

.c-scrim {
  z-index: 10;
}

.c-datepicker {
  z-index: 90000;
}

.messages_container {
  min-height: 50vh;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.map {
  width: 100%;
  min-height: 350px;
}

.vh-50 {
  min-height: 50vh !important;
}

.vh-25 {
  min-height: 25vh !important;
}

.map-big {
  min-width: 100vh !important;
  min-height: 60vh !important;
}


