.slider-container {
    overflow: hidden;
}

.slider {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: lightgrey lightgrey;
}

.slider::-webkit-scrollbar {
    height: 2px;
}

.slider::-webkit-scrollbar-track {
    background: lightgrey;
}

.slider::-webkit-scrollbar-thumb {
    background-color: grey;
}

.slider-slide {
    flex: 0 0 30%;
}

.card.card-hover:hover {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
}

.slider-controls {
    width: 100%;
}

.slider-controls .previous,
.slider-controls .next {
    font-size: 24px;
    color: #00695c;
    cursor: pointer;
}

.slider-controls .previous:hover,
.slider-controls .next:hover {
    color: #00423a;
}

@media (max-width: 768px) {
    .slider-slide {
        flex: 0 0 50%;
    }
}
