.slider-container {
    overflow: hidden;
}

.slider {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: lightgrey lightgrey;
}

.slider::-webkit-scrollbar {
    height: 2px;
}

.slider::-webkit-scrollbar-track {
    background: lightgrey;
}

.slider::-webkit-scrollbar-thumb {
    background-color: grey;
}

.slider-slide {
    flex: 0 0 30%;
}

.slider-slide:hover {
    background-color: rgba(0,0,0, 0.05);
}

.slider-controls {
    width: 100%;
}

.slider-controls .previous,
.slider-controls .next {
    font-size: 24px;
    color: #00695c;
    cursor: pointer;
}

.slider-controls .previous:hover,
.slider-controls .next:hover {
    color: #00423a;
}

@media (max-width: 768px) {
    .slider-slide {
        flex: 0 0 50%;
    }
}
