{% block password_toggle_widget %}
    {%- set attr = attr|merge({
        'class': 'block w-full rounded-l-lg bg-transparent px-4 py-3 text-sm text-gray-900 focus:outline-none focus:ring-0',
        'data-password-visibility-target': 'input',
    }) -%}
    <div class="flex rounded-lg border border-gray-200 bg-gray-50 transition-colors focus-within:border-gray-400 focus-within:bg-white"
         {{ stimulus_controller('password-visibility') }}>
        <input type="password" {{ block('widget_attributes') }}>
        <button type="button"
                data-action="password-visibility#toggle"
                class="flex items-center px-3 text-gray-400 hover:text-gray-600">
            <span data-password-visibility-target="icon">{{ ux_icon('mdi:eye-outline', {class: 'h-5 w-5'}) }}</span>
            <span data-password-visibility-target="icon" class="hidden">{{ ux_icon('mdi:eye-off-outline', {class: 'h-5 w-5'}) }}</span>
        </button>
    </div>
{% endblock %}
