{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-md-4">
                <div class="card">
                    {{ include('partials/_account-navbar.html.twig') }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row justify-content-start my-3">
                    <h2 class="mb-6 text-xl font-semibold text-gray-900">{{ 'invitations'|trans|capitalize }}</h2>
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="list-group list-group-flush">
                                {% for invitation in eventInvitations %}
                                    {{ include('components/event_invitation_response_form.html.twig', {
                                        invitation: invitation
                                    }) }}
                                {% else %}
                                    <div class="list-group-item text-center fw-bold">{{ 'no-invitations-found'|trans }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}