<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% apply inline_css(source("email/style/email.css")) %}
    <div class="row justify-content-center">
        <div class="col-10">
            {% block body %}{% endblock %}
        </div>
    </div>
{% endapply %}
</body>
</html>
